{% extends 'HSDOnSecBundle::base.html.twig' %}

{% block content %}
    <h1>Instructions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Expiretime</th>
                <th>Pdflink</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instruction in instructions %}
            <tr>
                <td><a href="{{ path('instruction_show', { 'id': instruction.id }) }}">{{ instruction.id }}</a></td>
                <td>{{ instruction.description }}</td>
                <td>{% if instruction.expiretime %}{{ instruction.expiretime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ instruction.pdfLink }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('instruction_show', { 'id': instruction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('instruction_edit', { 'id': instruction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('instruction_new') }}">Create a new instruction</a>
        </li>
    </ul>
{% endblock %}
