{% extends 'HSDOnSecBundle::base.html.twig' %}
{% set page_title = "Benutzer" %}
{% block title %}{{page_title}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{page_title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table-sm table-striped">
                <thead>
                <tr>
                    {#<th>Id</th>#}
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Email</th>
                    <th>Benachrichtigungen aktiv</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        {#<td>{{ user.id }}</td>#}
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.surname }}</a></td>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.firstname }}</a></td>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.email }}</a></td>
                        <td>{% if user.notificationActive %}<i class="fa fa-check-circle-o text-success" aria-hidden="true"></i>{% else %}<i class="fa fa-circle-o text-warning" aria-hidden="true"></i>{% endif %}</td>
                        <td>
                            <div class="btn-group btn-group-sm" style="display: -webkit-box;">
                                <a class="btn btn-primary" href="{{ path('user_show', { 'id': user.id }) }}"><i
                                            class="fa fa-eye"
                                            aria-hidden="true"></i></a>
                                <a class="btn btn-outline-primary" href="{{ path('user_edit', { 'id': user.id }) }}"><i
                                            class="fa fa-pencil"
                                            aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
