{{ form_start(registerForm, { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(registerForm.firstname) }}
    {{ form_row(registerForm.surname) }}
    {{ form_row(registerForm.email) }}
    {{ form_row(registerForm.plainPassword.first) }}
    {{ form_row(registerForm.plainPassword.second) }}
    {#{ form_row(registerForm.notificationActive) }#}

<button class="btn btn-outline-primary" type="submit">Registrieren</button>
{{ form_end(registerForm) }}