<div class="col-md-2">
    <a href="{{ path('hsd_on_sec_homepage') }}"><img src="{{ asset('images/hsd-marke-v1-hsd-rotrgb-m-schw.png') }}"
         class="logo" alt="logo">
    </a>
</div>
<div class="col-lg-8">
    <nav class="navbar navbar-toggleable-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="toggleNavbar"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar navbar-collapse" id="toggleNavbar">
                <a class="btn btn-secondary nav-link" href="{{ url('course_index') }}">Kurse</a>
                <a class="btn btn-secondary nav-link" href="{{ url('instruction_index') }}">Unterweisungen</a>
                <a class="btn btn-secondary nav-link" href="{{ url('question_index') }}">Fragen</a>
                <a class="btn btn-secondary nav-link" href="{{ path('answer_index') }}">Antworten</a>
                <a class="btn btn-secondary nav-link" href="{{ url('room_index') }}">Räume</a>
                <a class="btn btn-secondary nav-link" href="{{ url('user_index') }}">Benutzer</a>
            </span>
        </div>
    </nav>
</div>
