{% macro keywords_input(parent_form) %}
{% set keyword_full_path = parent_form.keywords.vars.full_name ~ "[__keyword_id__]" %}

{% verbatim %}
<div id="ngAppOnSecKeywords" ng-controller="keywordsInputController">
  <div class="input-group">
    <input
    type="text"
    ng-model="keywordInput"
    ng-keypress="keywordInputEnterPress($event, keywordInput)"
    class="form-control"
    placeholder="Neues Schlagwort"
    aria-describedby="basic-addon2">

    <a href ng-click="addKeyword(keywordInput)" class="input-group-addon">
      +
    </a>
  </div>

  <ul class="keyword-list"
    data-index="0"
  >
    <li ng-repeat="keyword in keywords track by keyword.index">
      <div>
        {{ keyword.description }}
      </div>
      <a href ng-click="removeKeyword(keyword)">x</a>p
      <input type="hidden" id="{{ keyword.descriptionFullPath }}" name="{{ keyword.descriptionFullPath }}" value="{{ keyword.description }}">
    </li>
  </ul>
</div>
{% endverbatim %}

{% do parent_form.keywords.setRendered %}

<script>
  angular.module('onSecKeywords', [])
  .controller('keywordsInputController', function($scope) {
    var KEYWORDS_FULL_PATH  = "{{ keyword_full_path }}";
    var KEYWORD_ID_NAME     = "__keyword_id__";

    $scope.keywords = [];

    $scope.keywordInputEnterPress = function(event, keyword) {
      if (event.which === 13) {
        event.preventDefault();
          if ($scope.addKeyword(keyword)) {
            $scope.keywordInput = '';
         }
      }
    };

    $scope.addKeyword = function(keyword) {
      if (keyword == '') return false;
      if (keywordsContains(keyword)) return false;

      var index = $scope.keywords.length;
      var newKeyword = {
        index:               index,
        description:         keyword,
        descriptionFullPath: keywordAttributePathWithIndex(index, 'description'),
      };

      $scope.keywords.push(newKeyword);
      return true;
    };

    $scope.removeKeyword = function(keyword) {
      var keywords = $scope.keywords;
      keywords.splice(keyword.index, 1);

      for(var i = keyword.index; i < keywords.length; i++) {
        keywords[i].index = keywords[i].index - 1;
      }
    };

    var keywordsContains = function(keyword) {
      for (var i = 0; i < $scope.keywords.length; i++) {
        if ($scope.keywords[i].description == keyword) {
          return true;
        }
      }
      return false;
    }

    var keywordAttributePathWithIndex = function(index, attributeName) {
      var regExToReplace = new RegExp(KEYWORD_ID_NAME, 'g');
      var fullPath = KEYWORDS_FULL_PATH.replace(regExToReplace, index);
      return fullPath + '[' + attributeName + ']';
    }
  });

  angular.bootstrap(document.getElementById('ngAppOnSecKeywords'), ['onSecKeywords']);
</script>

{% endmacro %}
