{% macro questions_input(parent_form) %}
  {% set question_name = parent_form.questions.vars.full_name ~ "[__question_id__]" %}
  {% set answer_name = question_name ~ "[answers][__answer_id__]" %}

  <h1>Fragen:</h1>
  <ul class="questions">
  </ul>
  <a href="#" class="btn btn-primary mb-2" id="add-question">Frage hinzufügen</a>
  <br/>

  <script>
  jQuery(document).ready(function() {
    var $questionList = $('ul.questions');

    $questionList.data('index', $questionList.find('input.question-input').length);


    $('#add-question').on('click', function(e) {
      e.preventDefault();
      addQuestion($questionList);
    });
  });

  function addQuestion($questionList) {
    var questionIndex = $questionList.data('index');
    console.log("questionIndex:" + questionIndex);

    $questionList.append(questionTemplate(questionIndex));
    addAnswer($questionList, questionIndex);
    addAnswer($questionList, questionIndex);

    $questionList.data('index', questionIndex + 1);
  };

  function addAnswer($questionList, questionIndex) {
    var $answersContainer = $('div#answers_for_' + questionIndex)
    var answerIndex = $answersContainer.find('input.answer-input').length;

    $answersContainer.append(answerTemplate(questionIndex, answerIndex));
  }

  function questionTemplate(index) {
    return `
      <div id="question___question_id__" class="question">
        <div class="form-group">

          <label class="sr-only" for="{{ question_name }}[imagePath]">Bild</label>
          <input type="text" class="question-input form-control mb-2 mr-sm-2 mb-sm-0"
            placeholder="Bild"
            id="{{ question_name }}[imagePath]"
            name="{{ question_name }}[imagePath]">

          <label calss="sr-only" for="{{ question_name }}[questionText]">Frage</label>
          <input type="text" class="question-input form-control mb-2 mr-sm-2 mb-sm-0"
            placeholder="Wie lautet..."
            id="{{ question_name }}[questionText]"
            name="{{ question_name }}[questionText]">

        </div>

        <div id="answers_for___question_id__" class="answers">
        </div>
      </div>
    `.replace(/__question_id__/g, index);
  }

  function answerTemplate(questionIndex, answerIndex) {
    console.log("Frage: " + questionIndex)
    console.log("Antwort: " + answerIndex)
    return `
      <div style="display: flex; flex-direction: row;">
        <div style="width: 75%;">

          <label class="sr-only" for="{{ answer_name }}[answerText]">Antwort</label>
          <input type="text" class="answer-input form-control mb-1 mr-sm-2 mb-sm-0"
            id="{{ answer_name }}[answerText]"
            placeholder="Antwort __answer_id__"
            name="{{ answer_name }}[answerText]">
        </div>

        <div class="form-check mb-2 mr-sm-2 mb-sm-0" style="width: 20%;">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"name="{{ answer_name }}[isCorrect]"> Korrekt
          </label>
        </div>
      </div>
    `.replace(/__question_id__/g, questionIndex)
     .replace(/__answer_id__/g, answerIndex);
  }

  // jQuery(document).ready(function() {
  //   var questionKey = "{{ parent_form.questions.vars.full_name }}[__question_id__]";
  //   var answerSuffix = "[answers][__answer_id__]"

  //   $(div.)

  //   var $collectionHolder = $('ul.questions');
  //   $collectionHolder.append($newLinkLi);
  //   $collectionHolder.data('index', $collectionHolder.find(':input').length);

  //   $addLink.on('click', function(e) {
  //     e.preventDefault();
  //     addForm($collectionHolder, $newLinkLi);
  //   });

  // });

  // function addForm() {
  //   var prototype = $collectionHolder.data('prototype');
  //   var index = $collectionHolder.data('index');

  //   var newForm = prototype.replace(/__name__/g, index);

  //   $collectionHolder.data('index', index + 1);

  //   var $newFormLi = $('<li></li>').append(newForm);
  //   $newLinkLi.before($newFormLi);
  // }
  </script>
{% endmacro %}
