{% extends 'HSDOnSecBundle::base.html.twig' %}
{% set page_title = "Kurs bearbeiten" %}
{% block title %}{{page_title}}{% endblock %}

{% block ownStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hsdonsec/css/Course.css') }}">
{% endblock %}

{% block content %}
{% import 'macros/keywords_input.html.twig' as keywords_input %}
{% import 'macros/moderators_input.html.twig' as moderators_input %}



    <h1>Kurs {{ course.description }} bearbeiten</h1>

    {{ form_start(edit_form) }}

    {{ form_errors(edit_form) }}

    <!------Name-------------->
    {{ form_row(edit_form.description) }}
    <br>

    <!------Instructions-------------->
    <div class="ui-widget search-instruction">
        <label for="access-rights-input">Unterweisungen hinzufügen: </label>
        <input id="access-instruction-input" class="form-control" type="text" placeholder="Name, Raum oder Schlagwort" autocomplete="on">

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="scrollbox">
                {% for instruction in course.instructions %}
                    <script type="text/javascript">
                        $(document).ready(function() {

                            var id = '{{ instruction.id }}';
                            var description = '{{ instruction.description }}';

                            var scrollbox = $('#scrollbox');

                            var newElement = $('<div>');
                            newElement.addClass('instruction_element');
                            newElement.attr('id', 'instruction_id_' + id);
                            newElement.html('<p class="instruction_title col-md-8">' + description + '</p>');

                            var $hiddenElement = $('<input type="hidden"/>');
                            $hiddenElement.attr('name', "instructionId[]");
                            $hiddenElement.val(id);
                            $hiddenElement.attr('id', 'hidden_id_' + id);

                            scrollbox.append($hiddenElement);

                            var removeBtn = $('<a href="#" class="delete_instruction_button role-button btn btn-sm col-md-4">X</a>');
                            removeBtn.click(function () {
                                $('#instruction_id_' + id).remove();
                                $('#hidden_id_' + id).remove();
                            });

                            newElement.append(removeBtn);
                            scrollbox.append(newElement);
                        });
                    </script>

                {% endfor %}
            </div>
        </div>
    </div>
    <br>

{{ moderators_input.moderators_input(course) }}

    <br></br>

    {{ keywords_input.keywords_input(edit_form) }}
    <br>

    <!-------Navigation---------------------->
    <a class="btn btn-warning" href="{{ path('course_index') }}"
      onclick="return confirm('Änderungen verwerfen?')" id="submit_button">Abbrechen</a>
    <input type="submit" value="Speichern" class="btn btn-success" />
    <br></br>

    {{ form_end(edit_form) }}

    {{ form_start(delete_form, {
      'attr': {
        'onclick': 'return confirm("Diesen Kurs endgültig löschen?")',
      }
    }) }}
        <input class="btn btn-danger course-delete-button" type="submit" value="Löschen">
    {{ form_end(delete_form) }}

    <script>

        $(document).ready(function() {

            $("#submit_button").onclick = function(){

                window.location.href='{{ path('course_index') }}';
            };

            <!------Instructions-------------->
            $("#access-instruction-input").autocomplete({

                source: '{{ path('instruction_autocomplete') }}',
                minLength: 2,
                select: function( event, ui ) {
                    console.log(ui);
                    console.log( ui.item ?
                        "Selected: " + ui.item.value + " aka " + ui.item.id :
                        "Nothing selected, input was " + this.value );

                    var scrollbox = $('#scrollbox');

                    var newElement = $('<div>');
                    newElement.addClass('instruction_element');
                    newElement.attr('id','instruction_id_'+ui.item.id);
                    newElement.html('<p class="instruction_title col-md-8">'+ ui.item.value +'</p>');

                    var $hiddenElement   = $('<input type="hidden"/>');
                    $hiddenElement.attr('name',"instructionId[]");
                    $hiddenElement.val(ui.item.id);
                    $hiddenElement.attr('id','hidden_id_'+ui.item.id);

                    scrollbox.append($hiddenElement);

                    var removeBtn = $('<a href="#" class="delete_instruction_button role-button btn btn-sm col-md-4">X</a>');
                    removeBtn.click(function() {
                        $('#instruction_id_' + ui.item.id).remove();
                        $('#hidden_id_' + ui.item.id).remove();
                    });

                    newElement.append(removeBtn);
                    scrollbox.append(newElement);
                }
            });

            <!------Moderators-------------->
            console.log('{{ path('moderator_autocomplete') }}');
            $("#access-rights-input").autocomplete({

                source: '{{ path('moderator_autocomplete') }}',
                minLength: 2,
                select: function( event, ui ) {
                    console.log( ui.item);
                    console.log( ui.item ?
                        "Selected: " + ui.item.value + " aka " + ui.item.id :
                        "Nothing selected, input was " + this.value );

                    //var tablebody = document.getElementById('tablebody');
                    var tablebody = $('#tablebody');

                    var newElement = $('<tr>');
                    newElement.addClass('moderator_row');
                    newElement.attr('id','moderator_id_'+ui.item.id);
                    newElement.html('<td>'+ ui.item.value +'</td><td>Bearbeiter</td>');

                    var $hiddenElement   = $('<input type="hidden"/>');
                    $hiddenElement.attr('name',"moderatorId[]");
                    $hiddenElement.val(ui.item.id);
                    $hiddenElement.attr('id','hidden_id_'+ui.item.id);

                    tablebody.append($hiddenElement);

                    var removeBtn = $('<a href="#" class="delete_moderator">X</a>');
                    removeBtn.click(function() {
                        $('#moderator_id_' + ui.item.id).remove();
                        $('#hidden_id_' + ui.item.id).remove();
                    });

                    newElement.append(removeBtn);
                    tablebody.append(newElement);

                    newElement.appendChild(newModerator);
                    $('#rights-table').append($newHiddenElement);
                    newElement.appendChild(newModeratorTitle);
                    tablebody.appendChild(newElement);
                }

            });

        });

    </script>


{% endblock %}
