{% extends 'HSDOnSecBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Kurse</h1>
        </div>
        <div class="col-md-6">
            <a href="{{ path('course_new') }}" class="btn btn-outline-success pull-right">neuen Kurs anlegen</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table-sm table-striped">
                    <thead>
                    <tr>
                        {#<th>Id</th>#}
                        <th>Beschreibung</th>
                        <th>Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in courses %}
                        <tr>
                            {#<td>{{ course.id }}</td>#}
                            <td><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.description }}</a>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" style="display: -webkit-box;">
                                    <a class="btn btn-primary" href="{{ path('course_show', { 'id': course.id }) }}"><i
                                                class="fa fa-eye"
                                                aria-hidden="true"></i></a>
                                    <a class="btn btn-outline-primary"
                                       href="{{ path('course_edit', { 'id': course.id }) }}"><i class="fa fa-pencil"
                                                                                                aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
