{% extends 'HSDOnSecBundle::base.html.twig' %}
{% set page_title = "Kurs anlegen" %}
{% block title %}{{page_title}}{% endblock %}


{% block ownStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hsdonsec/css/Course.css') }}">
{% endblock %}

{% block content %}
{% import 'macros/keywords_input.html.twig' as keywords_input %}
{% import 'macros/moderators_input.html.twig' as moderators_input %}


    <h1>{{page_title}}</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.description) }}
    <br>

    <div class="ui-widget search-instruction">
        <label for="access-rights-input">Unterweisungen hinzufügen: </label>
        <input id="access-instruction-input" class="form-control" type="text" placeholder="Name, Raum oder Schlagwort" autocomplete="on">

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="scrollbox">
            </div>
        </div>
    </div>
    <br>

    {{ moderators_input.moderators_input(course) }}
    <br></br>

    {{ keywords_input.keywords_input(form) }}
    <br>

    <a class="btn btn-warning action-buttons"
       href="{{ path('course_index') }}"
       onclick="return confirm('Erstellung abbrechen? Bisherige Eingaben und Uploads gehen dadurch verloren.')">
        <i class="fa fa-arrow-left smaller-icons" aria-hidden="true"></i> Abbrechen
    </a>

    <input type="submit" value="Erstellen" class="btn" />
    <br></br>

    {{ form_end(form) }}



    <script>

        $(document).ready(function() {

            $("#submit_button").onclick = function(){

                window.location.href='{{ path('course_index') }}';
            };

            $("#access-instruction-input").autocomplete({

                source: '{{ path('instruction_autocomplete') }}',
                minLength: 2,
                select: function( event, ui ) {
                    console.log(ui);
                    console.log( ui.item ?
                        "Selected: " + ui.item.value + " aka " + ui.item.id :
                        "Nothing selected, input was " + this.value );



                    var scrollbox = $('#scrollbox');

                    var newElement = $('<div>');
                    newElement.addClass('instruction_element');
                    newElement.attr('id','instruction_id_'+ui.item.id);
                    newElement.html('<p class="instruction_title col-md-8">'+ ui.item.value +'</p>');

                    var $hiddenElement   = $('<input type="hidden"/>');
                    $hiddenElement.attr('name',"instructionId[]");
                    $hiddenElement.val(ui.item.id); //$hiddenElement.val({id= ui.item.id, name=ui.item.value});
                    $hiddenElement.attr('id','hidden_id_'+ui.item.id);

                    scrollbox.append($hiddenElement);

                    var removeBtn = $('<a href="#" class="delete_instruction_button role-button btn btn-sm col-md-4">X</a>');
                    removeBtn.click(function() {
                        $('#instruction_id_' + ui.item.id).remove();
                        $('#hidden_id_' + ui.item.id).remove();
                    });

                    newElement.append(removeBtn);
                    scrollbox.append(newElement);

                    $("#access-instruction-input").val('');

                    return false;
                }
            });

        });

    </script>

{% endblock %}


