{% extends 'base.html.twig' %}

{% block ownStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hsdonsec/css/Course.css') }}">
{% endblock %}

{% block content %}
    <h1>Einen neuen Kurs erstellen</h1>

    {{ form_start(form) }}

    {#{{ form_errors(form) }}#}
        {{ form_row(form.description) }}

        {{ form_row(form.room) }}
        <button type="button" class="btn" id="add-another-room">Raum hinzufügen</button>

        <!------Rooms-------------->
        <ul>
            {% for room in rooms %}
                <li> {{ room.getDescription|e}} </li>
            {% else %}
                <div>Keine Räume</div>
            {% endfor %}
        </ul>
        <!------Rooms-------------->

        {{ form_row(form.instructions) }}

        <!------Rights-------------->
        <h2>Rechte</h2>
        <div class="row">
        <div class="col-md-11 rights">
            <!--<label for="access-rights-input">Bearbeiter hinzufügen</label>-->

            <!--<form autocomplete="on" class="input-group add">
                <input type="text" class="form-control" id="access-rights-input" placeholder="Name oder E-Mail">
                <button type="button" class="role-button btn" id="add-another-moderator">Bearbeiter hinzufügen</button>

            </form>-->
            <div class="ui-widget add">
                <!--<label for="access-rights-input">User: </label>-->
                <input id="access-rights-input" type="text" placeholder="Name oder E-Mail">
                <button type="button" class="role-button btn" id="add-another-moderator">Bearbeiter hinzufügen</button>
            </div>

            <!--<div class="ui-widget" style="margin-top:2em; font-family:Arial">
                Result:
                <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
            </div>-->


            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Rang</th>
                </tr>
                </thead>
                <tbody id="tablebody">
                <tr>
                    <td>{{ form_row(form.owner) }}</td>
                    <td>
                        Eigentümer
                    </td>
                </tr>
                <tr id="moderator-rows-list"
                    data-prototype="{{form_widget(form.moderators.vars.prototype)|e}}"
                    class="moderator-list">
                {% for moderator in form.moderators %}
                    <td>
                        {{ form_errors(moderator) }}
                        {{ form_widget(moderator) }}
                    </td>
                    <td>
                        Bearbeiter
                    </td>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <!------Rights-------------->


        <!-------Davids Keywords---------------------->
        </br>
        <ul id="keyword-fields-list"
            data-prototype="{{ form_widget(form.keywords.vars.prototype)|e }}"
            class="keyword-list">

            {% for keywordField in form.keywords %}
                <li>
                    {{ form_errors(keywordField) }}
                    {{ form_widget(keywordField) }}
                </li>
            {% endfor %}
        </ul>

        <a href="#" id="add-another-keyword">Schlagwort hinzufügen</a>
        </br>
        </br>
        <!-------Davids Keywords---------------------->

    {#{{ form_row(form.keywords) }}#}

        <input onClick="window.location.href='{{ path('course_index') }}'" type="submit" value="Abbrechen" class="btn" />
        <input type="submit" value="Erstellen" class="btn" />

    {{ form_end(form) }}


     <!--<a href="]{#{{ path('course_index') }}#}">Zurück zu der Kursübersicht</a>-->



    <script>

        $(document).ready(function() {
            /*function log( message ) {
                $( "<div>" ).text( message ).prependTo( "#log" );
                $( "#log" ).scrollTop( 0 );
            }*/

            $("#access-rights-input").autocomplete({
                source: '{{ path('moderator_autocomplete') }}',
                minLength: 2,
                select: function( event, ui ) {
                    log( ui.item ?
                        "Selected: " + ui.item.value + " aka " + ui.item.id :
                        "Nothing selected, input was " + this.value );
                }

            });


            // keep track of how many rows with moderators have been rendered

            var moderatorCount = '{{form.moderators|length}}'

            $('#add-another-moderator').click(function(e)
            {
                console.log('{{ form.moderators|length }}');
                e.preventDefault();

                //var user = User();

                var moderatorList = $('#moderator-rows-list');

                //grab the prototype template
                var newWidget = moderatorList.attr('data-prototype');

                //??
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your keywords
                // end name attribute looks like name="contact[keywords][2]"
                newWidget = newWidget.replace(/__name__/g, moderatorCount);
                moderatorCount++;

                // create a new row and add it to the table
                var newRow = $('<td></td>')
                    .addClass('moderator-input')
                    .html(newWidget);
                newRow.appendTo('<td>Bearbeiter</td>');
                newRow.appendTo(moderatorList);
            });

            // --------Davids Keywords---------------------------------
            // keep track of how many keyword fields have been rendered
            var keywordCount = '{{ form.keywords|length }}';


            $('#add-another-keyword').click(function(e) {
                console.log('{{ form.keywords|length }}');
                e.preventDefault();

                var keywordList = $('#keyword-fields-list');

                // grab the prototype template
                var newWidget = keywordList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your keywords
                // end name attribute looks like name="contact[keywords][2]"
                newWidget = newWidget.replace(/__name__/g, keywordCount);
                keywordCount++;

                // create a new list element and add it to the list
                var newLi = $('<li></li>')
                    .addClass('keyword-input')
                    .html(newWidget);
                newLi.appendTo(keywordList);
            });
            // --------Davids Keywords-----------------------------------
        }); //()

    </script>

{% endblock %}
