{% extends 'base.html.twig' %}

{% block ownStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hsdonsec/css/Course.css') }}">
{% endblock %}

{% block content %}
    <h1>Einen neuen Kurs erstellen</h1>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">

            {{ form_start(form) }}

                {{ form_errors(form) }}
                {{ form_row(form.description) }}
                {{ form_row(form.room) }}

                <ul>
                {% for room in rooms %}
                    <li>
                        {{ room.getDescription|e}}
                    </li>
                {% else %}
                    <div>Keine Räume</div>
                {% endfor %}
                </ul>

            {{ form_row(form.instructions) }}

            <h2>Rechte</h2>
            <!--<div class="row">-->
                <div class="col-md-11 rights">
                    <!--<label for="access-rights-input">Bearbeiter hinzufügen</label>-->
                    <div class="input-group add">
                        <input type="text" class="form-control" id="access-rights-input" placeholder="Name oder E-Mail">
                        <button type="button" class="role-button">Bearbeiter hinzufügen</button>

                    </div>
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Name</th>
                            <th>Rang</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form_row(form.owner) }}</td>
                            <td>
                                Eigentümer
                            </td>
                        </tr>
                        {% for moderator in form.moderators %}
                        <tr>
                            <td>{{ form_row(form.moderators) }}</td>
                            <td>
                                Bearbeiter
                            </td>
                        </tr>
                        {% else %}
                        <p>Keine Bearbeiter</p>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            <!--</div>-->



                {{ form_row(form.keywords) }}

                <input onClick="window.location.href='{{ path('course_index') }}'" type="submit" value="Abbrechen" />
                <input type="submit" value="Erstellen" />
            {{ form_end(form) }}


        </div>
    </div>

    <!--<ul>
        <li>
            <a href="{{ path('course_index') }}">Zurück zu der Liste</a>
        </li>
    </ul>-->
{% endblock %}
