{% extends "::base.html.twig" %}

{% block title %}HSDOnSecBundle:Dashboard:index{% endblock %}

{% block content %}
    {% if(is_granted("ROLE_ADMIN")) %}
        <div id="topnav">
            <span id="topnav_text"></span>
            <label class="switch">
                <input type="checkbox" class="input_checkbox">
                <div class="slider" id='onoff' data-onoff="on" >User</div>
            </label>
        </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active" href="#menu1" role="tab" id="coursetab">Meine Kurse</a>
        </li>
        <li class="nav-item" id="showtab">
            <a data-toggle="tab" class="nav-link unactive" href="#menu2" role="tab">Unterweisungen</a>
        </li>
    </ul>
    <div class="innercontainer">
        <input type="search" class="maininput" placeholder="Suche..."/>

        <div class="innerinnercontainer">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="menu1">
                    <!--<div class="card-group">-->
                    {% if(is_granted("ROLE_ADMIN")) %}
                        <div id="admin_menu">
                            {% for course in moderatorcourses %}
                                <div class="card">
                                    <div class="card-header" data-target="#collapse1" data-toggle="collapse">
                                        <h4 class="card-title">
                                            {{ course.getDescription() }}<span onclick="document.location.href = '{{ path('course_edit', { 'id': course.getId() }) }}'; return false"><i class="fa fa-users" aria-hidden="true"></i></span><span onclick="document.location.href = 'http://www.google.de'; return false"><i class="fa fa-cog"
                                                                                                          aria-hidden="true"></i></span>
                                        </h4>
                                    </div>
                                    <div class="card-collapse collapse" id="collapse1">
                                        <ul class="list-group">
                                            {% for instruction in course.getInstructions() %}
                                                <li class="list-group-item">{{ instruction.getDescription() }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div id="user_menu">
                        {% for coursesub in subscribercourses %}
                            <div class="card">
                                <div class="card-header" data-target="#collapse1" data-toggle="collapse">
                                    <h4 class="card-title">
                                        {{ coursesub.getDescription() }}
                                    </h4>
                                </div>
                                <div class="card-collapse collapse" id="collapse1">
                                    <ul class="list-group">
                                        {% for instructionsub in coursesub.getInstructions() %}
                                            <li class="list-group-item">{{ instructionsub.getDescription() }}<div class="left"></div></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--</div>-->
                </div>
                {% if(is_granted("ROLE_ADMIN")) %}
                    <div class="tab-pane fade" id="menu2">
                        {% for instruction in ownerinstructions %}
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    {{ instruction.getDescription() }}<span onclick="document.location.href = '{{ path('instruction_edit', { 'id': instruction.getId() }) }}'; return false"><i class="fa fa-cog" aria-hidden="true"></i></span>
                                    <div class="left red">Eigent&uuml;mer</div>
                                </h4>
                            </div>
                        </div>
                        {% endfor %}
                        {% if moderatorinstructions|length > 0 %}<hr>{% endif %}
                        {% for instruction in moderatorinstructions %}
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        {{ instruction.getDescription() }}<span onclick="document.location.href = '{{ path('instruction_edit', { 'id': instruction.getId() }) }}'; return false"><i class="fa fa-cog" aria-hidden="true"></i></span>
                                        <div class="left green">Bearbeiter</div>
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                        <!--{#% if userinstructions|length > 0 %#}<hr>{#% endif %#}
                        {#% for instruction in userinstructions %#}
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        {#{ instruction.getDescription() }#}<span onclick="document.location.href = '{#{ path('instruction_edit', { 'id': instruction.getId() }) }#}'; return false"><i class="fa fa-cog" aria-hidden="true"></i></span>
                                        <div class="left blue">Nutzer</div>
                                    </h4>
                                </div>
                            </div>
                        {#% endfor %#}
                        -->
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#topnav_text").html("<a href={{ path('course_new') }}>Neuen Kurs erstellen</a>");
            $("#showtab").hide();
            $("#coursetab").html("Meine absolvierten Unterweisungen");
            $("#topnav_text").hide();
            $("#user_menu").show();
            $("#admin_menu").hide();
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));

                var activeTab = localStorage.getItem('activeTab');

                if(activeTab=="#menu1"){
                    $("#topnav_text").html("<a href={{ path('course_new') }}>Neue Kurs erstellen</a>");
                }
                else if(activeTab=="#menu2"){
                    $("#topnav_text").html("<a href={{ path('instruction_new') }}>Neuen Unterweisung erstellen</a>");
                }
            });
            $('#onoff').click(function () {
                var show = $('#onoff').attr("data-onoff");
                if(show=='on'){
                    $("#onoff").html("Admin");
                    $('#onoff').attr("data-onoff","off");
                    $("#showtab").show();
                    $("#coursetab").html("Meine Kurse");
                    $("#topnav_text").show();
                    $("#user_menu").hide();
                    $("#admin_menu").show();
                }
                else {
                    $("#onoff").html("User");
                    $('#onoff').attr("data-onoff","on");
                    $('#coursetab')[0].click();
                    $("#showtab").hide();
                    $("#coursetab").html("Meine absolvierten Unterweisungen");
                    $("#topnav_text").hide();
                    $("#user_menu").show();
                    $("#admin_menu").hide();
                }
            });
        });
    </script>
{% endblock %}
