{% extends "HSDOnSecBundle::base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {# check if successSubscribedCourse is not empty them print Success Alert #}
    {% if successSubscribedCourse|length >0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Glückwunsch!</strong> Sie nehmen nun am Kurs {{ successSubscribedCourse }} teil.
                </div>
            </div>
        </div>
    {% endif %}

    {# check user is admin then show toggle button #}
    {% if(is_granted("ROLE_ADMIN")) %}
        <div id="topnav">
            <span id="topnav_text"></span>
            <label class="switch">
                <input type="checkbox" class="input_checkbox">
                <div class="slider" id='onoff' data-onoff="on">Benutzersansicht</div>
            </label>
        </div>
    {% endif %}

    {# navigations tabs #}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active linkstyle" href="#menu1" role="tab" id="coursetab">Ihre
                Kurse</a>
        </li>
        <li class="nav-item" id="showtab">
            <a data-toggle="tab" class="nav-link unactive linkstyle" href="#menu2" role="tab">Unterweisungen</a>
        </li>
    </ul>

    {# inner container with search field and again innerinnercontainer for styling #}
    <div class="innercontainer">
        <input type="search" class="maininput"
               placeholder="Nach Kursen suchen ..."
               id="searchinput"/>

        {# innerinnercontainer with either no instructions or list of elemets(accordeon) #}
        <div class="innerinnercontainer">
            <p id="noInstructions">Sie haben bisher an keinem Kurs teilgenommen, bitte benutzen Sie die Suche, um
                teilzunehmen.</p>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="menu1">
                    {# check user is admin then show admin menu #}
                    {% if(is_granted("ROLE_ADMIN")) %}
                        <div id="admin_menu">
                            {# run through all courses where user is moderator/owner #}
                            {% for course in moderatorcourses %}
                                <div class="card searchfield">
                                    <div class="card-header pointerstyle"
                                         data-target="{{ '#collapseadmin%s'|format(course.getId()) }}"
                                         data-toggle="collapse">
                                        <h4 class="card-title">
                                            <i data-toggle="tooltip" title="Kurs" class="fa fa-university"
                                               aria-hidden="true"></i>
                                            {{ course.getDescription() }}
                                            {# write all keywords hidden to enable search #}
                                            {% for keyword in course.getKeywords() %}
                                                <p hidden>{{ keyword.getDescription() }}</p>
                                            {% endfor %}
                                            {# for every entry show modal icon and edit button #}
                                            <span class="no-collapsable_{{ course.getId() }}" data-target="#MyModal_{{ course.getId() }}">
                                                <i data-toggle="tooltip" data-placement="top" title="Teilnehmer"
                                                   style="float:right;" class="fa fa-users" aria-hidden="true"></i>
                                            </span>

                                            <script>
                                                //dont open accordeon with link in card header
                                                $('.no-collapsable_{{ course.getId() }}').click(function (e) {
                                                    $("#MyModal_{{ course.getId() }}").modal();
                                                    e.stopPropagation();
                                                });
                                            </script>

                                            <span class="no-collapsable"
                                                  onclick="document.location.href = '{{ path('course_edit', { 'id': course.getId() }) }}'; return false">
                                                <i data-toggle="tooltip" title="Kurs bearbeiten" style="float:right;"
                                                   class="fa fa-cog" aria-hidden="true"></i>
                                            </span>
                                        </h4>
                                    </div>
                                    {# write all instructions to every course #}
                                    <div class="card-collapse collapse"
                                         id="{{ 'collapseadmin%s'|format(course.getId()) }}">
                                        <ul class="list-group">
                                            {% for instruction in course.getInstructions() %}
                                                <li class="list-group-item">
                                                    <i data-toggle="tooltip"
                                                       title="Unterweisung"
                                                       class="fa fa-book"
                                                       aria-hidden="true"></i>
                                                    {{ instruction.getDescription() }}
                                                    {% for keyword in instruction.getKeywords() %}
                                                        <p hidden>{{ keyword.getDescription() }}</p>
                                                    {% endfor %}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div id="MyModal_{{ course.getId() }}" class="modal fade myModal" role="dialog">
                                {{ render(controller('HSDOnSecBundle:Dashboard:modal', {'course': course})) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {# menu for user #}
                    <div id="user_menu">
                        {# decide between normal user menu and search user menu #}
                        <div class="user_menu_normal">
                            {# run through every subscribed courses #}
                            {% for coursesub in subscribercourses %}
                                <div class="card">
                                    <div class="card-header pointerstyle"
                                         data-target="{{ '#collapseuser%s'|format(coursesub.getId()) }}"
                                         data-toggle="collapse">
                                        <h4 class="card-title">
                                            <i data-toggle="tooltip" title="Kurs" class="fa fa-university"
                                               aria-hidden="true"></i> {{ coursesub.getDescription() }}
                                            <!--<div style="float:right">Ablauf Status</div>-->
                                        </h4>
                                    </div>
                                    {# show all instructions to every course #}
                                    <div class="card-collapse collapse"
                                         id="{{ 'collapseuser%s'|format(coursesub.getId()) }}">
                                        <ul class="list-group">
                                            {# check for every instruction if this course is completed or not #}
                                            {% for instructionsub in coursesub.getInstructions() %}
                                                {% set expireSemester = null %}
                                                {% for completedinstruction in user.getCompletedInstructions() %}
                                                    {% if instructionsub.getId() == completedinstruction.getInstruction.getId() %}
                                                        {% set expireSemester = completedinstruction.getExpireDateSemester() %}
                                                    {% endif %}
                                                {% endfor %}
                                                {# show completed or not #}
                                                {% if expireSemester is not null %}
                                                    <li class="list-group-item">
                                                        <i data-toggle="tooltip" title="Unterweisung" class="fa fa-book"
                                                           aria-hidden="true"></i>
                                                        {{ instructionsub.getDescription() }}
                                                        <div class="checkbuttonopen" data-toggle="tooltip"
                                                             title="Unterweisung bestanden">
                                                            <i style="color: white; float:right;" class="fa fa-check"
                                                               aria-hidden="true"></i>
                                                        </div>
                                                        <div style="float: right; margin-right: 30px;" data-toggle="tooltip" title="Ablauf Ende">
                                                            {{ expireSemester }}
                                                        </div>
                                                    </li>
                                                {% else %}
                                                    <li class="list-group-item">
                                                        <i data-toggle="tooltip" title="Unterweisung" class="fa fa-book"
                                                           aria-hidden="true"></i>
                                                        {{ instructionsub.getDescription() }}
                                                        <div class="checkbuttonclose" data-toggle="tooltip"
                                                             title="Unterweisung noch nicht bestanden">
                                                            <i style="color: white; float:right;" class="fa fa-times"
                                                               aria-hidden="true"></i>
                                                        </div>
                                                        <a href="{{ path('instruction_run', { 'id': instructionsub.getId() }) }}"
                                                           class="btn btn-success"
                                                           style="float: right; margin-right: 30px; margin-top: -7px">
                                                            Start
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {# hidden keywords for search #}
                                                {% for keyword in instructionsub.getKeywords() %}<p
                                                        hidden>{{ keyword.getDescription() }}</p>{% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {# fill in with search input #}
                        <div class="user_menu_search"></div>
                    </div>
                </div>
                {# show menu2 with admin view with own instructions #}
                {% if(is_granted("ROLE_ADMIN")) %}
                    <div class="tab-pane fade" id="menu2">
                        {# run through all moderator instructions and own instructions with different cards #}
                        {% for instruction in ownerinstructions %}
                            <div class="card searchfield">
                                <div class="card-header pointerstyle">
                                    <h4 class="card-title">
                                        <i data-toggle="tooltip"
                                           title="Unterweisung"
                                           class="fa fa-book"
                                           aria-hidden="true"></i>
                                        {{ instruction.getDescription() }}
                                        <span onclick="document.location.href = '{{ path('instruction_edit', { 'id': instruction.getId() }) }}'; return false">
                                            <i style="float:right;" class="fa fa-cog" aria-hidden="true" data-toggle="tooltip" title="Unterweisung bearbeiten"></i>
                                        </span>
                                        <div class="right red" data-toggle="tooltip" title="Rechte">
                                            Eigent&uuml;mer
                                        </div>
                                        {% for keyword in instruction.getKeywords() %}
                                            <p hidden>
                                                {{ keyword.getDescription() }}
                                            </p>
                                        {% endfor %}
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                        {% if moderatorinstructions|length > 0 and ownerinstructions|length > 0 %}
                            <hr>{% endif %}
                        {% for instruction in moderatorinstructions %}
                            <div class="card searchfield">
                                <div class="card-header pointerstyle">
                                    <h4 class="card-title">
                                        <i data-toggle="tooltip"
                                           title="Unterweisung"
                                           class="fa fa-book"
                                           aria-hidden="true"></i>
                                        {{ instruction.getDescription() }}
                                        <span onclick="document.location.href = '{{ path('instruction_edit', { 'id': instruction.getId() }) }}'; return false">
                                            <i style="float:right;" class="fa fa-cog" aria-hidden="true" data-toggle="tooltip" title="Unterweisung bearbeiten"></i>
                                        </span>
                                        <div class="right green" data-toggle="tooltip" title="Rechte">
                                            Bearbeiter
                                        </div>
                                        {% for keyword in instruction.getKeywords() %}
                                            <p hidden>
                                                {{ keyword.getDescription() }}
                                            </p>
                                        {% endfor %}
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            //default variables
            var ishome = true;
            var subscribercourses_json = $.parseJSON("{{ subscribercourses|json_encode() }}");
            var moderatorcourses_json = $.parseJSON("{{ moderatorcourses|json_encode() }}");
            var ownerinstructions_json = $.parseJSON("{{ ownerinstructions|json_encode() }}");
            var moderatorinstructions_json = $.parseJSON("{{ moderatorinstructions|json_encode() }}");

            //default view
            $("#topnav_text").hide();
            $("#showtab").hide();
            $("#admin_menu").hide();
            //check for elements
            if (subscribercourses_json.length > 0) {
                $("#noInstructions").hide();
            }
            else {
                $("#noInstructions").show();
            }
            $("#user_menu").show();
            $("#topnav_text").html("<a href={{ path('course_new') }}>Neuen Kurs erstellen</a>");
            $("#coursetab").html("Ihre absolvierten Unterweisungen");
            $('.user_menu_search').hide();
            $('.user_menu_normal').show();

            //change with tab events
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));

                var activeTab = localStorage.getItem('activeTab');

                //differ menu1 and menu2
                if (activeTab == "#menu1") {
                    //check for elements
                    if (moderatorcourses_json.length > 0) {
                        $("#noInstructions").hide();
                    }
                    else {
                        $("#noInstructions").html("Sie haben noch keine Kurse erstellt.");
                        $("#noInstructions").delay(300).show(0);
                    }
                    $("#topnav_text").html("<a href={{ path('course_new') }}>Neuen Kurs erstellen</a>");
                    $("#searchinput").attr("placeholder", "Filtern Sie hier nach Ihren Kursen ...");
                }
                else if (activeTab == "#menu2") {
                    //check for elements
                    if (ownerinstructions_json.length > 0 || moderatorinstructions_json.length > 0) {
                        $("#noInstructions").hide();
                    }
                    else {
                        $("#noInstructions").html("Sie haben noch keine Unterweisungen erstellt.");
                        $("#noInstructions").delay(300).show(0);
                    }
                    $("#topnav_text").html("<a href={{ path('instruction_new') }}>Neue Unterweisung erstellen</a>");
                    $("#searchinput").attr("placeholder", "Filtern Sie hier nach Ihren Unterweisungen ...");
                }
            });

            //change with toggle events
            $('#onoff').click(function () {
                var show = $('#onoff').attr("data-onoff");
                if (show == 'on') {
                    ishome = false;
                    $("#user_menu").hide();
                    $("#searchinput").val('');
                    //check for elements
                    if (moderatorcourses_json.length > 0) {
                        $("#noInstructions").hide();
                    }
                    else {
                        $("#noInstructions").html("Sie haben noch keine eigenen Kurse erstellt.");
                        $("#noInstructions").delay(300).show(0);
                    }
                    $("#onoff").html("Admin-Ansicht");
                    $('#onoff').attr("data-onoff", "off");
                    $("#showtab").show();
                    $("#coursetab").html("Ihre Kurse");
                    $("#searchinput").attr("placeholder", "Filtern Sie hier nach eigenen Kursen ...");
                    $("#topnav_text").show();
                    $("#admin_menu").show();
                }
                else {
                    ishome = true;
                    $("#admin_menu").hide();
                    $("#topnav_text").hide();
                    $("#showtab").hide();
                    $("#searchinput").val('');
                    $('.user_menu_search').hide();
                    if (subscribercourses_json.length > 0) {
                        $("#noInstructions").hide();
                    }
                    else {
                        $("#noInstructions").html("Sie haben bisher an keinem Kurs teilgenommen, bitte benutzen Sie dazu die Suche.");
                        $("#noInstructions").delay(300).show(0);
                    }
                    $("#onoff").html("Benutzeransicht");
                    $('#onoff').attr("data-onoff", "on");
                    $('#coursetab')[0].click();
                    $("#coursetab").html("Meine absolvierten Unterweisungen");
                    $("#searchinput").attr("placeholder", "Nach Kursen suchen ...");
                    $("#user_menu").show();
                    $('.user_menu_normal').show();
                }
            });

            //search events
            var searchRequest = null;
            $('.searchfield').show();
            $('#searchinput').keyup(function () {
                var txt = $('#searchinput').val();
                //differ from normal user search and admin search
                //normal user search search just for new courses and admin view just filters shown list
                if (ishome) {
                    $("#noInstructions").hide();
                    $('.user_menu_search').hide();
                    $('.user_menu_normal').hide();
                    //everytime a char is inputted then make a ajax search to dashboard route action and show the results
                    if (txt.length > 0) {
                        var that = this;
                        if (searchRequest != null)
                            searchRequest.abort();
                        searchRequest = $.ajax({
                            type: "GET",
                            url: "{{ path('ajax_search') }}",
                            data: {
                                'term': txt
                            },
                            dataType: "text",
                            success: function (msg) {
                                //we need to check if the value is the same
                                if (txt == $(that).val()) {
                                    var result = JSON.parse(msg);
                                    var counter = 0;
                                    if (Object.keys(result).length > 0) {
                                        $.each(result, function (index, att) {
                                            var url = '{{ path('addSubscriber', { 'course_id': 'course_id' }) }}';
                                            url = url.replace("course_id", index);
                                            var title = "<div class='card'><div class='card-header pointerstyle'><h4 class='card-title'><i data-toggle='tooltip' title='Kurs' class='fa fa-university' aria-hidden='true'></i>" + att + "<a href='" + url + "' class='btn btn-success' style='float: right;margin-top: -7px;'>Teilnehmen</a></h4></div></div>";
                                            if (counter == 0) {
                                                $('.user_menu_search').html(title);
                                            }
                                            else {
                                                $('.user_menu_search').append(title);
                                            }
                                            counter++;
                                        });
                                        $('.user_menu_search').show();
                                    }
                                    else {
                                        $("#noInstructions").html("Keine Kurse gefunden, versuchen Sie es mit einem anderen Begriff.");
                                        $("#noInstructions").show();
                                    }
                                }
                            }
                        });
                    }
                    else {
                        $('.user_menu_normal').show();
                        if (subscribercourses_json.length > 0) {
                            $("#noInstructions").hide();
                        }
                        else {
                            $("#noInstructions").html("Sie haben bisher an keinem Kurs teilgenommen, bitte benutzen Sie dazu die Suche.");
                            $("#noInstructions").delay(300).show(0);
                        }
                    }
                }
                //else for just filter search
                else {
                    $('.searchfield').hide();
                    $('.searchfield').each(function () {
                        if ($(this).text().toLowerCase().indexOf(txt.toLowerCase()) != -1) {
                            $(this).show();
                        }
                    });
                }
            });

            //alert fade after 5 seconds
            $(".alert").fadeTo(5000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });

            //tooltip with bootstrap
            $('[data-toggle="tooltip"]').tooltip();
        });

        //dont open accordeon when link clicked
        $('.no-collapsable').click(function (e) {
            e.stopPropagation();
        });
    </script>
{% endblock %}
