<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <span class ="modalTitleText">Teilnehmer von {{ course.getDescription() }} </span>
                <div class="pull-right">

                    <select id="semester_dropdown" class="custom-select" name="semester">

                        {% for key,val in semester_array %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="modal-body">

            <table class="table" id="modal_table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Fehlende Unterweisungen</th>
                    </tr>
                </thead>
                <tbody id="subscriberBody">

                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a class="btn btn-outline-primary" href="{{ path('createCSV', {'course_id': course.getId() }) }}" role="button">
                <i class="fa fa-download" aria-hidden="true"></i>

                CSV exportieren
            </a>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen</button>
        </div>
    </div>
</div>

<a id="myButton" href="#">Leer</a>

<h1>Hier kommt Mr TestBuddy</h1>
<table>
    <tbody id="testBody">

    </tbody>
</table>

<script>
    $('#myButton').on('click', function() {
        $.ajax({
            type: "POST",
            data: {semester: 'SS 2017', courseId: 1  },
            url: '{{ path('ajax_semester_filter') }}',
            success: function(response){
                template = response;
                $('#testBody').html(template.html);
            }
        });
    });

</script>