<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <span class ="modalTitleText">Teilnehmer von {{ course.getDescription() }} </span>
                <div class="pull-right">

                    <select id="semester_dropdown" class="custom-select" name="semester">

                        {% for key,val in semester_array %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}

                            <script type="text/javascript">



                                $(document).ready(function(){

                                    var e = document.getElementById("semester_dropdown");
                                    var selected_semester = e.options[e.selectedIndex].value;



                                    {% for subscriber in semester_array['SS 2017'] %}
                                        {% set subscriber = subscriber.getUser %}

                                        var name = '{{ subscriber.firstname }}'+ ' ' + '{{ subscriber.surname }}';
                                        var email = '{{ subscriber.email }}';

                                        {% set done = [] %}
                                        {% set notdone = [] %}

                                        {% for courseInstruction in course.getInstructions %}
                                            {% set found = null %}

                                            {% for completedInstruction in subscriber.getCompletedInstructions %}
                                                {% if courseInstruction.getId == completedInstruction.getInstruction.getId %}
                                                    {% set found = completedInstruction.getInstruction.getId  %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if found %}
                                                {% set done = done|merge([found]) %}
                                            {% else %}
                                                {% set notdone = notdone|merge([courseInstruction.getDescription]) %}
                                            {% endif %}
                                        {% endfor %}

                                        var htmlElement = '<td><div data-toggle="tooltip" data-placement="left" title="';
                                        var htmlTitle;
                                        var htmlDescription;

                                        {% if notdone|length == 1 %}
                                            htmlTitle= 'Es fehlt:';
                                        {% elseif notdone == [] %}
                                            htmlTitle='Alle Unterweisungen absolviert.';
                                        {% else %}
                                            htmlTitle='Es fehlen:';
                                        {% endif %}

                                        {% set count= 0 %}
                                        {% set notDoneLenght = notdone|length - 1 %}

                                        {% for description in notdone %}
                                            {% set count= count+1 %}
                                            {% if count != notDoneLenght %}
                                                htmlDescription = '{{ description }}'+'.';
                                            {% else %}
                                                htmlDescription = '{{ description }}'+',';
                                            {% endif %}
                                        {% endfor %}

                                        var htmlEnd = '">' + '{{ course.getInstructions|length - done|length }}' + '</div></td>';

                                        var element = $('<tr>');
                                        element.addClass('html_elment');
                                        element.attr('id','tr_id');
                                        element.html('<td>' + name + '</td><td>' + email + '</td>' + htmlElement + htmlTitle + htmlDescription + htmlEnd);

                                        console.log('<td>' + name + '</td><td>' + email + '</td>' + htmlElement + htmlTitle + htmlDescription + htmlEnd);

                                        $('#ttt').append(element);


                                    {% endfor %}

                                });
                            </script>
                    </select>
                </div>
            </div>
        </div>

        <div class="modal-body">

            <table class="table" id="modal_table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Fehlende Unterweisungen</th>
                    </tr>
                </thead>
                <tbody id="ttt">
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a class="btn btn-outline-primary" href="{{ path('createCSV', {'course_id': course.getId() }) }}" role="button">
                <i class="fa fa-download" aria-hidden="true"></i>

                CSV exportieren
            </a>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen</button>
        </div>
    </div>
</div>
