{% for subscriber in subscriber_array %}
    {% set subscriber = subscriber.getUser %}
    {{ subscriber }}
    <tr>
        <td>{{ subscriber.surname }}, {{ subscriber.firstname }} </td>
        <td>{{ subscriber.email }}</td>
        <td>
            {# check wich instructions are missing #}
            {% set done = [] %}
            {% set notdone = [] %}
            {% for courseInstruction in course.getInstructions %}
                {% set found = null %}
                {% for completedInstruction in subscriber.getCompletedInstructions %}
                    {% if courseInstruction.getId == completedInstruction.getInstruction.getId %}
                        {% set found = completedInstruction.getInstruction.getId  %}
                    {% endif %}
                {% endfor %}
                {% if found %}
                    {% set done = done|merge([found]) %}
                {% else %}
                    {% set notdone = notdone|merge([courseInstruction.getDescription]) %}
                {% endif %}
            {% endfor %}

            {% if notdone|length == 1 %}
                {% set tooltip_pre = 'Es fehlt: ' %}
            {% elseif notdone == [] %}
                {% set tooltip_pre = 'Alle Unterweisungen absolviert.' %}
            {% else %}
                {% set tooltip_pre = 'Es fehlen: ' %}
            {% endif %}
            {% set count = 0 %}
            {% set notDoneLenght = notdone|length - 1 %}
            {% set tooltip_desc = '' %}
            {% for description in notdone %}
                {% set count= count+1 %}
                {% if count != notDoneLenght+1 %}
                    {% set tooltip_desc = tooltip_desc~description~', ' %}
                {% else %}
                    {% set tooltip_desc = tooltip_desc~description~'.' %}
                {% endif %}
            {% endfor %}
            {# tooltip script needs to be included here again #}
            <script>$('[data-toggle="tooltip"]').tooltip();</script>
            {# create tooltip #}
            <div data-toggle="tooltip" data-placement="left" title="{{ tooltip_pre~tooltip_desc }}">{{ course.getInstructions|length - done|length }}</div>
        </td>
    </tr>
{% endfor %}