{% extends '::base.html.twig' %}

{% block content %}
    <h1>Instruction creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.description) }}

        {{ form_row(form.expiredate) }}

        {{ form_row(form.pdfLink) }}

        <div class="input-group">
            <input type="text" id="keyword-input" class="form-control" placeholder="Neues Schlagwort" aria-describedby="basic-addon2">
            <a href class="input-group-addon" id="add-keyword">
                +
            </a>
        </div>

        <ul id="onsec_onsecbundle_instruction_keywords" class="keyword-list"
            data-index="0"
        >
        </ul>

        {{ form_row(form.questions) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('instruction_index') }}">Back to the list</a>
        </li>
    </ul>

    <script>
    jQuery(document).ready( function() {
        $('#add-keyword').on('click', function(e) {
            e.preventDefault();
            addElement();
        });
    });

    function addElement() {
        var $keywordList    = $('ul.keyword-list')
        var inputText = $('#keyword-input').val();

        var id = "onsec_onsecbundle_instruction_keywords___name__";
        var index           = $keywordList.data('index');
        id = id.replace(/__name__/g, index);

        var $newElement         = $('<div class="keyword"></div');
        var $newElementLi       = $('<li></li>');
        var $newHiddenElement   = $('<input type="hidden"/>')

        $newElement.attr('id', id)
        $newElementLi.html(inputText);
        $newHiddenElement.attr('id', id + "_description")
        $newHiddenElement.attr('name', "onsec_onsecbundle_instruction[keywords][" + index + "][description]")
        $newHiddenElement.val(inputText);

        $newElement.append($newElementLi);
        $newElement.append($newHiddenElement);

        $keywordList.append($newElement);

        $keywordList.data('index', index + 1);
        $('#keyword-input').val('').focus();
    }
    </script>
{% endblock %}
