{% extends '::base.html.twig' %}

{% block content %}
    <h1>Instruction creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.description) }}

        {{ form_row(form.expiredate) }}

        {{ form_row(form.pdfLink) }}

        <ul class="keywords" id="keyword-fields-list"
            data-prototype="{{ form_widget(form.keywords.vars.prototype)|e('html_attr') }}"
            class="keyword">
            {% for keywordField in form.keywords %}
                <li>
                    {{ form_errors(keywordField) }}
                    {{ form_widget(keywordField) }}
                </li>
            {% endfor %}
        </ul>

        {{ form_row(form.questions) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('instruction_index') }}">Back to the list</a>
        </li>
    </ul>

    <script>

    jQuery(document).ready( function() {
        var $keywordList;
        var $addKeywordLink = $('<a href="#" class="add_keyword_link">Schlagwort hinzufügen</a>');
        var $newLinkLi = $('<li></li>').append($addKeywordLink);

        $keywordList = $('ul.keywords');
        $keywordList.append($newLinkLi);

        $keywordList.data('index', $keywordList.find(':input').length);

        $addKeywordLink.on('click', function(e) {
            e.preventDefault();

            addKeywordForm($keywordList, $newLinkLi);
        });
    });

    function addKeywordForm($keywordList, $newLinkLi) {
        var prototype   = $keywordList.data('prototype');
        var index       = $keywordList.data('index');

        var newForm = prototype.replace(/__name__/g, index);

        $keywordList.data('index', index + 1);

        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    };

    </script>
{% endblock %}
