{% extends '::base.html.twig' %}

{% block content %}
{% import 'macros/keywords_input.html.twig' as keywords_input %}
    <h1>Instruction creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.description) }}

        {{ form_row(form.expiredate) }}

        {{ form_row(form.pdfLink) }}

        {{ keywords_input.keywords_input(form) }}

        {{ form_row(form.questions) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('instruction_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
