{% extends "::base.html.twig" %}
{% block title %}Instruction{% endblock %}
{% block ownStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hsdonsec/css/Instruction.css') }}">
{% endblock %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <div id="ngAppOnSecRunQuestions" class="container" ng-controller="runQuestionsController">
        <div id="instructionView">
            <h1 class="headerInstruction">Fragen zu {{ instruction.description }}</h1>
            </br>
            {% verbatim %}
            <div ng-repeat="question in shownQuestionArray track by $index">
                <div class="question" ng-style="question.boxStyle">
                <div class="row">
                    <div class="col-lg-12">
                    {{question.result}}
                        <div class="input-group">
                            <input type="text" class="form-control" readonly="readonly" value="{{question.text}}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div ng-repeat="answer in question.answers">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="Checkbox for following text input" ng-model="answer.checked">
                        </span>
                                <input type="text" class="form-control" ng-style="{{answer.style}}" readonly="readonly" value="{{answer.text}} {{answer.isCorrect}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img ng-if="question.imageAvalible" class= "fragenbild" src="{{ question.imagePath }}" alt="imageQuestion"/>
                    </div>
                    </div>
                  </br>
                </div>
            </br>
            </br>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div ng-style="textStyle" >{{checkMessage}}</div>
                </div>
                {% endverbatim %}
                <div class="col-lg-6" align="right">
                    <div class="btn-group pull-right">
                        <a href="{{ path('instruction_run', {'id': instruction.id }) }}" class="btn btn-primary btn-lg">zur Unterweisung</a>
                         {% verbatim %}
                               <a id= "checkButton" ng-click="checkAnswer()" class="btn btn-primary btn-lg disaled">{{buttonText}}</a>
                         {% endverbatim %}
                        <a id="weiter" href="{{ path('index') }}" class="btn btn-primary btn-lg disabled">weiter</a>
                    </div>
                </div>
            </div>
            </br>

        </div>
    </div>




    <script>
        var anzahl = {{ instruction.questions|length }};
        var fragenAnzeigeAnzahl = 3;
        var status = "pruefung";

        var randomNumbers = [];
        var i=0;
        while(i<fragenAnzeigeAnzahl) {
            console.log(i);
            var randomNum = Math.floor(Math.random() * (anzahl)) ;
            if (randomNumbers.indexOf(randomNum) == -1) {
                randomNumbers.push(randomNum);
            }
            i++;
        }

        var questionArray = [];

        {% for question in instruction.questions %}
            var question = {};
            question.text = '{{ question.questionText }}';
            question.id = '{{ question.id }}';
            question.imagePath = '{{ asset(question.imagePath) }}'
            question.result = "";
            question.boxStyle = "";
            if (question.imagePath === '{{ asset("") }}'){
                question.imageAvalible = false;
            }
            else
            {
                question.imageAvalible = true;
            }
            question.answers = [];

            {% for answer in question.answers %}
                var answer = {};
                answer.text = '{{ answer.answerText }}';
                answer.id = '{{ answer.id }}';
                answer.isCorrect = '{{ answer.isCorrect }}';
                answer.checked = false;
                answer.result = "";
                question.answers.push(answer);
            {% endfor %}

            questionArray.push(question);
        {% endfor %}

        angular.module('onSecRunQuestions', [])
            .controller('runQuestionsController', function($scope) {
                $scope.shownQuestionArray = [];
                for (i = 0; i < randomNumbers.length; i++) {
                    $scope.shownQuestionArray.push(questionArray[randomNumbers[i]]);
                }

                $scope.buttonText = "Antworten prüfen";
                $scope.checkMessage = "";
                $scope.textStyle = "";
                $scope.boxStyle = "";
                $scope.checkAnswer = function () {

                    if(status === "pruefung") {
                        var allRight = true;
                        for (i = 0; i < $scope.shownQuestionArray.length; i++) {
                            $scope.shownQuestionArray[i].result = "korrekt :)"
                            $scope.shownQuestionArray[i].boxStyle = {'background-color': '#A9F5BC'};
                            for (j = 0; j < $scope.shownQuestionArray[i].answers.length; j++) {
                                if ($scope.shownQuestionArray[i].answers[j].checked == ($scope.shownQuestionArray[i].answers[j].isCorrect > 0)) {
                                    $scope.shownQuestionArray[i].answers[j].result = "richtig";
                                }
                                else {
                                    $scope.shownQuestionArray[i].answers[j].result = "falsch";
                                    $scope.shownQuestionArray[i].result = "leider falsch beantwortet"
                                    $scope.shownQuestionArray[i].boxStyle = {'background-color': '#F78181'};
                                    allRight = false;
                                }
                            }
                        }
                        if (allRight) {
                            $scope.checkMessage = "Du hast alle Fragen richtig beantwortet.";
                            $scope.textStyle = {'background-color': '#A9F5BC', 'text-align': 'center'};
                            console.log("alles Korrekt");
                            status = "weiter";
                            $('#weiter').addClass('active').removeClass('disabled');

                        }
                        else {
                            $scope.checkMessage = "Leider hast du nicht alle Fragen korrekt beantwortet. Siehe dir noch einmal die Unterweisung an.";
                            $scope.textStyle = {'background-color': '#F78181', 'text-align': 'center'};
                            console.log("nicht alles Korrekt");
                            $scope.buttonSwitch = true;
                            status = "unterweisung";
                        }
                        $('#checkButton').addClass('disbaled').removeClass('active');
                    }

                }
            });

            angular.bootstrap(document.getElementById('ngAppOnSecRunQuestions'), ['onSecRunQuestions'])
    </script>

{% endblock %}
