{% extends 'base.html.twig' %}

{% block body %}
    <h1>Completedinstruction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ completedInstruction.id }}</td>
            </tr>
            <tr>
                <th>Expiredate</th>
                <td>{% if completedInstruction.expireDate %}{{ completedInstruction.expireDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('completedinstruction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('completedinstruction_edit', { 'id': completedInstruction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
